h1{
    line-height: 1;
    padding: 50px 0;
    text-align: center;
    font-family: "Arial Black", sans-serif;
    font-size: 36px;
    color: #0076b6; /* Detroit Lions Blue */
} 

.skip {
    background-color: #0047AB;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    position: absolute;
    top: 50px;
}

.skip:hover {
    background-color: #235EA7;
}

nav {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

img{
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 100%;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-rows: 300px; */
    grid-gap: 10px;
    margin: 20px;
    background: black;
}



#nfl_logo{
    display:flex;
    align-items: center;
    justify-content: center;

    grid-column: 1/2;
    grid-row: 1/2;
}
#nfl_logo_words{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#lions_logo{
    display:flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
}
#lions_logo_words{
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    align-items: center;
    text-align: center;
    justify-content: center;

}
#opponents{
    display:flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 3/4;
}
#opponents_words{
    display: flex;
    grid-column: 2/3;
    grid-row: 3/4;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    align-items: center;
    text-align: center;
    justify-content: center;

    
}

