h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
}
/* styling header */
nav li{
    display:inline;
    padding-right:20px;
}
  
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

.about h2 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}


.Offense, .Defense, .Special_teams{
    
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 200px;
    place-items:center;
    margin: 100px;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}


/* .Defense div img{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Special_teams div img{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#Jared_Goff img{
    border: 2px solid black;
    height: 200px;
    width: 250px; 
} 
#Jared_Goff p {
    text-align: center;
}

#DeAndre_Swift img{
    border: 2px solid black;
    height: 200px;
    width: 200px; 
}
#DeAndre_Swift p {
    text-align: center;
}

#Amon_Ra_St_Brown img{
    border: 2px solid black;
    height: 200px;
    width: 250px; 
}
#Amon_Ra_St_Brown p {
    text-align: center;
}


#Kerby_Joseph img{
    border: 2px solid black;
    height: 200px;
    width: 200px; 
} 
#Kerby_Joseph p {
    text-align: center;
}

#HUTCH img{
    border: 2px solid black;
    height: 200px;
    width: 240px;
}
#HUTCH p {
    text-align: center;
}

#CJ img{
    border: 2px solid black;
    height: 200px;
    width: 250px; 
}
#CJ p {
    text-align: center;
}


#Jeff_Okudah img{
    border: 2px solid black;
    height: 200px;
    width: 250px; 
} 
#Jeff_Okudah p {
    text-align: center;
}

#Penei_Sewell img{
    border: 2px solid black;
    height: 200px;
    width: 240px; 
}
#Penei_Sewell p {
    text-align: center;
}

#Jameson_Williams img{
    border: 2px solid black;
    height: 200px;
    width: 250px; 
}
#Jameson_Williams p {
    text-align: center;
}