/* styling h1 */
h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
}
/* styling header */
nav li{
    display:inline;
    padding-right:20px;
}
  
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

img{
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 100%;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-rows: 300px; */
    grid-gap: 10px;
    margin: 20px;
    background: grey;
}



#nfl_logo{
    grid-column: 1/2;
    grid-row: 1/2;
}
#nfl_logo_words{
    grid-column: 2/3;
    grid-row: 1/2;
}

#lions_logo{
    grid-column: 2/3;
    grid-row: 2/3;
}
#lions_logo_words{
    grid-column: 1/2;
    grid-row: 2/3;
}
#opponents{
    grid-column: 1/2;
    grid-row: 3/4;
}
#opponents_words{
    grid-column: 2/3;
    grid-row: 3/4;
}







